EXPO_PUBLIC_APP_VERSION=0.0.1
EXPO_PUBLIC_PLANTNET_API_URL=https://my-api.plantnet.org/v2/identify
EXPO_PUBLIC_PLANTNET_DISEASES_API_URL=https://my-api.plantnet.org/v2/diseases/identify

EXPO_PUBLIC_KINDUISE_API_URL=https://crop.kindwise.com/api/v1

EXPO_PUBLIC_PLANTNET_API_KEY=
EXPO_PUBLIC_KINDUISE_API_KEY=